.dice-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
	min-height: 30vh;
	width: 100%;
}

.dice-hold,
.dice-active {
	width: 75%;
	max-width: 800px;
	min-width: 350px;
	min-height: 15vh;
	border: 2px solid var(--text);
	text-align: center;
	justify-items: center;
	transition: all 0.2s ease-in-out;
}

.dice-hold {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.dice-active {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.dice-container h2 {
	font-size: 1.5rem;
	border-bottom: 2px dotted var(--text);
	margin-top: 0;
}

.dice-draw li {
	font-size: 4rem;
	padding: 0 0.4rem;
	cursor: pointer;
}

.dice-draw {
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.dragging {
	opacity: 0.6;
}

.dragOver {
	opacity: 0.8;
	filter: hue-rotate(-30deg);
}

.btn-roll {
	border: 2px solid var(--text);
	background: none;
	font-family: var(--bodytext);
	color: var(--text);
	font-size: 1rem;
	cursor: pointer;
	margin: 1rem;
	width: 20%;
	max-width: 200px;
	padding: 0.5rem;
	border-radius: 100vh;
	transition: all 0.3s ease-in-out;
}

.btn-roll i {
	font-size: 2rem;
}

.btn-roll:hover {
	background-color: var(--text);
	color: black;
}

.btn-roll:focus {
	outline: none;
}
