.player-container {
	width: 90vw;
	overflow-x: auto;
}

.player-cards {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.player-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid var(--text);
	border-radius: 5px;
	width: 30%;
	/* max-width: 200px; */
	text-transform: capitalize;
	margin: 0 0.2rem;
}

.player-card h4 {
	margin: 0;
}

.player-card h5 {
	margin: 0;
	font-size: 1rem;
}

.player-scores {
	padding: 0 0.5rem;
}

.player-scoreboard {
	display: flex;
	font-size: 1rem;
	margin: 0;
}

.player-scoreboard ul {
	list-style: none;
}

@media only screen and (max-width: 600px) {
	.btn-toggleScore {
		position: absolute;
		top: 0.5rem;
	}

	.player-container {
		top: 5vh;
		min-height: 90vh;
		background: var(--board);
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.player-cards {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
	}

	.player-card :is(h4) {
		font-size: 1rem;
		padding: 0 0.5rem;
	}

	.player-card {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 48%;
		max-height: 400px;
	}
}
