.win_score {
	position: absolute;
	top: 10%;
	width: 90vw;
	border: 8px dotted var(--text);
	border-radius: 50px;
	background: var(--board);
	display: flex;
	justify-content: center;
	transition: all 2s linear;
}

.score-container {
	padding: 0.5rem;
}

.score-table {
	list-style: none;
	text-align: center;
	width: 100%;
}

.score-table-btn {
	text-transform: capitalize;
	min-width: 200px;
	border: 2px solid var(--text);
	background: none;
	color: var(--text);
	padding: 0.5rem;
	font-size: 1rem;
}

.hidden {
	transform: translateX(-92vw);
}

.close-win-score {
	height: 75%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	background: none;
	border: none;
	color: var(--text);
	outline: none;
	writing-mode: vertical-lr;
}

.close-win-score:hover {
	opacity: 0.7;
	cursor: pointer;
}
