.win_score {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 80vw;
	height: 80vh;
	border: 8px dotted var(--text);
	border-radius: 50px;
	background: var(--board);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn_win_score_close {
	position: absolute;
	top: 1rem;
	right: 1.2rem;
	padding: 0;
	font-size: 1.5rem;
	background: none;
	color: var(--text);
	border: none;
	outline: none;
	cursor: pointer;
}

.hidden {
	display: none;
}

.scoretable {
	margin: auto;
	font-size: 1rem;
}

.scoretable tr {
	border: 2px dotted var(--text);
	width: 50%;
}

.scoretable:nth-child(6) {
	border: 2px solid black;
}
