:root {
	--board: #05491c;
	--text: #d5e400;
	--icon: #222422;
	--header: 'Akaya Telivigala', cursive;
	--bodytext: 'Oswald', sans-serif;
}

/******************************
Animations
******************************/
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 30s linear;
	}
}
@keyframes App-logo-spin {
	from {
		transform: rotate(-8deg);
	}
	to {
		transform: rotate(8deg);
	}
}

@keyframes dice-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/******************************
Layout & Logo
******************************/

.Game-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	justify-content: baseline;
	background: var(--board);
	font-family: var(--bodytext);
	color: var(--text);
	font-size: 2rem;
}

.Game-container h5 {
	margin: 0;
	margin-top: 1.2rem;
	text-align: center;
}

.Game-container :is(span) {
	font-size: 1rem;
	/* text-align: center; */
}

.game-board-container {
	display: flex;
	align-items: center;
	border: 6px double var(--text);
	border-radius: 15px;
	padding: 1rem;
	max-width: 800px;
}

.logo-box {
	position: relative;
	min-width: 100px;
	margin: 0.5rem 0;
	align-self: flex-start;
	font-family: var(--header);
	padding: 2rem;
}

.logo-back {
	position: absolute;
	display: block;
	top: 0;
	/* left: 50%; */
	transform: translateX(-50%);
	font-size: 4rem;
	color: var(--icon);
	animation: dice-spin infinite 8s linear;
}

.logo-text {
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	animation: App-logo-spin infinite 5s linear alternate;
}

@media only screen and (max-width: 600px) {
	.game-board-container {
		padding: 0;
		margin-top: -20%;
		transform: scale(70%);
	}

	.logo-box {
		position: absolute;
		top: 1rem;
		left: 0;
		transform: scale(60%);
		margin: 0;
		padding: 0;
	}
}
